<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} CrazyBuds {% endblock title %}</title>
  <style>
    .flash-message {
      position: absolute;
      top: 120px;
      right: 20px;
      background-color: #4f69b9;
      color: white;
      padding: 15px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  {% block navbar %}
  {% include "navbar.html" %} {% endblock navbar %}
  {% if messages %}
  {% for message in messages %}
  <div class="flash-message">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {%block content %} {% endblock content %}
</body>

</html>
