{% extends "main.html" %} {% block content %}

<style>
  .home {
    display: flex;
  }

  .browse {
    flex: 1
  }

  .content {
    flex: 4;
    border-left: 1px solid rgb(0, 0, 0);
    margin-top: -0.7%;
    padding: 5px;
    min-height: 100%;
  }
</style>
<div class="home">
  <div class="browse">
    <h3>
      Browse rooms
    </h3>
    <hr>
    <a href="{% url 'home' %}">
      all
    </a>
    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}">
        {{topic.name}}
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="content">
    <h3>Rooms ({{rooms.count}})</h3>
    <hr />
    <div>
      <a href="{% url 'createRoom' %}">Create Room</a>
      {% for room in rooms %}
      <div>
        <span>@{{room.host.username}}</span>
        {% if request.user == room.host %}
        <a href="{% url 'updateRoom' room.id%}">edit</a>
        <a href="{% url 'deleteRoom' room.id%}">delete</a>
        {% endif %}
        <a href="{% url 'room' room.id %}">
          <h3>{{room.id}} -- {{room.name}}</h3>
        </a>
        <small>{{room.topic.name}}</small>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
